In [6]:
# You can make a for loop iterate like this 
mystring  = 'hello'

In [8]:

mylist = []

for letter in mystring:
    mylist.append(letter)

print (mylist)

['h', 'e', 'l', 'l', 'o']

In [ ]:
# Or you can do it ike this using list comprehension

In [12]:
mylist = [letter for letter in mystring ]

print(mylist)

['h', 'e', 'l', 'l', 'o']

In [ ]:
# It also can be used for numberical lists

In [19]:
mylist = [x for x in range(1,11)]

print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# you can also perform numerical operations while in the list

# lets square x
mylist = [x**2 for x in range(1,11)]
print(mylist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# we can also filter out which values of x we want

# lets do this for only even values
mylist = [x*2 for x in range(1,11) if x%2==0]
print(mylist)

[4, 8, 12, 16, 20]

In [26]:
# lets try this with a mathematical or scientific relationship
celsius = [0, 10, 20, 30, 40, 50]

fahrenheit = [((9/5)*temp +32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [30]:
# We can also if and else statements in them but it is too cumbersome to be viable
mylist =  [ x*2 if x%2==0 else 'odd' for x in range(1,11)]
mylist

['odd', 4, 'odd', 8, 'odd', 12, 'odd', 16, 'odd', 20]

In [33]:
# Nested loops inside the comprehension scope
mylist = [x*y for x in [1, 2, 3] for y in [100, 200, 300] ]
mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]